# Dependencies
/node_modules
/.pnp
.pnp.js

test-models/*
/test-models

# Testing
/coverage

# Next.js
/.next/
/out/
/build

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Tailwind processed CSS
# (usually not needed as it's generated at build time)
/src/styles/tailwind.output.css 